*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header{
    margin-bottom: 50px;
}

.block_page{
    width: 90%;
    margin: auto;
}

.Logo{
    width: 125px;
    margin-top: 5px;
}

nav{
    display: flex;
}

ul{
    display: flex;
    position: absolute;
    right: 5%;
    top: 30px;
}

li{
    list-style-type: none;
}

li:nth-child(1){
    margin-right: 60px;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    border-top: solid 2px #0065FC;
    color: #0065FC;
    padding-top: 28px;
}

#autres{
    margin-top: 50px;
}

#autres h2{
    margin-bottom: 10px;
}

#autres p{
    font-size: 18px;
    margin-bottom: 20px;
}

#localisation{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

#localisation .fas.fa-map-marker-alt{
    background-color: #F2F2F2;
    padding: 19px;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#localisation .marseille{
    padding: 20px;
    border: 1px;
    border-color: #F2F2F2;
    border-style: solid;
    border-left: none;
    border-right: 0;
}

#localisation .marseille::placeholder{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#localisation #rechercher{
    border: none;
    padding: 18px;
    background-color: #0065FC;
    text-decoration: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}


#loupe{
    display: none;
}

#filtres{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}

#filtres p{
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 9px;
}

#filtres_radius{
    display: flex;
}

#filtres_radius a{
    border: 1px solid rgb(204, 204, 204);
    border-bottom-left-radius : 50px;
    border-bottom-right-radius : 50px;
    border-top-left-radius : 50px;
    border-top-right-radius : 50px;
    margin-right: 40px;
    padding-right: 16px;
    border-left: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#filtres_radius i{
    margin-right: 8px;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 100%;
    padding: 10px;
    background-color: #DEEBFF;
}


#romantique_animaux a{
    border: 1.5px solid rgb(204, 204, 204);
    border-bottom-left-radius : 50px;
    border-bottom-right-radius : 50px;
    border-top-left-radius : 50px;
    border-top-right-radius : 50px;
    margin-right: 12px;
    padding-right: 16px;
    border-left: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fas.fa-info{
    margin-right: 10px;
    color: #0065FC;
    border: solid 1px #F2F2F2;
    padding: 6px;
    border-radius: 100%;
    width: 15px;
    text-align: center;
    font-size: 15px;
}

#contenue{
    margin-bottom: 100px;
    display: flex;
}

#hebergement{
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 10px;
    padding-right: 0;
    margin-right: 50px;
}

#hebergement img{
    width: 250px;
}

#ligne1, #ligne2{
    display: flex;
}

#ligne2{
    margin-top: 15px;
    margin-bottom: 20px;
}

span{
    font-weight: bold;
}

#hebergement h2{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.logement{
    margin-right: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.1);
}

.logement img{
    object-fit: cover;
    width: 100%;
    height: 125px;
    border-radius: 10px 10px 0px 0px;
}

.etoile{
    color: #0065FC;
    font-size: 14px;
    margin-left: 7px;
    margin-bottom: 3px;
}

#grise{
    color: #EBEBEB;
}

.logement h3, .logement_populaire h3{
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.logement p, .logement_populaire p{
    margin-left: 8px;
    font-size: 15px;
    margin-bottom: 5px;
}

#hebergement button{
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-top: 8px;
}

#populaires{
    background-color: #EBEBEB;
    border-radius: 10px;
    padding: 40px;
    padding-bottom: 0;
    width: 20%;
}

.logement_populaire{
    background-color: white;
    height: 120px;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

#populaires h2{
    margin-bottom: 20px;
}

.logement_populaire img{
    float: left;
    width: 130px;
    object-fit: cover;
    height: 120px;
    border-radius: 10px 0px 0px 10px;
    margin-right: 10px;
}

#stats_populaire{
    display: flex;
}

#stats_populaire i{
    margin-left: 95px;
    font-size: 20px;
}

.etoile_populaire{
    color: #0065FC;
    font-size: 10px;
    margin-left: 7px;
    margin-top: 40px;
}

.etoile_populaire1{
    color: #0065FC;
    font-size: 10px;
    margin-left: 7px;
    margin-top: 25px;
}

.activite1, .activite2, .activite3, .activite4, .activite5, .activite6{
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    margin-right: 100px;
}

.displayblock{
    display: block;
}

.activite1 img, .activite2 img, .activite3 img, .activite4 img, .activite5 img, .activite6 img{
    width: 350px;
    border-radius: 10px;
    border-radius: 10px 10px 0px 0px;
}

#contenue_activite{
    display: flex;
}

.activite2, .activite5{
    margin-bottom: 50px;
}

.activite1 img, .activite4 img{
    object-fit: none;
    height: 400px;
    
}

.activite2 img{
    object-fit: none;
    height: 180px;
}

.activite3 img{
    object-fit: none;
    height: 130px;
}

.activite5 img{
    object-fit: none;
    height: 150px;
}

.activite6 img{
    object-fit: none;
    height: 160px;
}

.activite1, .activite4{
    height: 450px;
}

.activite2, .activite3, .activite5,.activite6{
    padding-bottom: 5px;
}

#contenue_activite h3{
    margin: 10px;
    font-size: 16px;
}

#activite_marseille h2{
    margin-bottom: 20px;
}

footer{
    padding-top: 30px;
    padding-left: 80px;
    padding-bottom: 30px;
    background-color: #EBEBEB;
    display: flex;
    margin-top: 50px;
}


footer h2{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

#a_propos{
    margin-left: 20px;
    margin-right: 400px;
}

#a_propos p{
    font-size: 14px;
    margin-bottom: 15px;
}

#nos_herbergement{
    margin-right: 400px;
}

#nos_herbergement p{
    font-size: 14px;
    margin-bottom: 15px;
}

#assistance p{
    font-size: 16px;
    margin-bottom: 15px;
}
