*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header{
    margin-bottom: 50px;
}

.block_page{
    max-width: 1400px;
    margin: auto;
}

.Logo{
    width: 125px;
    margin-top: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
}

nav li{
    list-style-type: none;
    padding-top: 30px;
}

nav li:nth-child(1){
    margin-right: 60px;
}

nav a{
    text-decoration: none;
    color: black;
}

.active,
nav a:hover{
    border-top: solid 2px #0065FC;
    color: #0065FC;
    padding-top: 28px;
}

#autres{
    margin-top: 50px;
}

#autres h2{
    margin-bottom: 10px;
}

#autres p{
    font-size: 18px;
    margin-bottom: 20px;
}

#localisation{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

#localisation .fas.fa-map-marker-alt{
    background-color: #F2F2F2;
    padding: 19px;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#localisation .marseille{
    padding: 20px;
    border: 1px;
    border-color: #F2F2F2;
    border-style: solid;
    border-left: none;
    border-right: 0;
}

#localisation .marseille::placeholder{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#localisation #rechercher{
    border: none;
    padding: 18px;
    background-color: #0065FC;
    text-decoration: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}


#loupe{
    display: none;
}

#filtres{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}

#filtres h2{
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 9px;
}

#filtres_radius{
    display: flex;
}

#filtres_radius a{
    display: flex;
    border: 1px solid rgb(204, 204, 204);
    border-bottom-left-radius : 50px;
    border-bottom-right-radius : 50px;
    border-top-left-radius : 50px;
    border-top-right-radius : 50px;
    margin-right: 40px;
    padding-right: 16px;
    border-left: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    align-items: center;
}


#filtres_radius i{
    margin-right: 8px;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
}

.fas.fa-info{
    margin-right: 10px;
    color: #0065FC;
    border: solid 1px #F2F2F2;
    padding: 6px;
    border-radius: 100%;
    width: 15px;
    text-align: center;
    font-size: 15px;
}

#hebergement_populaire{
    margin-bottom: 100px;
    display: flex;
}

#hebergement{
    width:70%;
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 10px;
    padding-right: 0;
    margin-right: 50px;
}

#ligne1, #ligne2{
    display: flex;
}

#ligne2{
    margin-top: 15px;
    margin-bottom: 20px;
}

span{
    font-weight: bold;
}

#hebergement h2{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.logement{
    width: 30%;
    margin-right: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.1);
}

.logement img{
    object-fit: cover;
    width: 100%;
    height: 125px;
    border-radius: 10px 10px 0px 0px;
}

.etoile{
    color: #0065FC;
    font-size: 14px;
    margin-left: 7px;
    margin-bottom: 3px;
}

.grise{
    color: #EBEBEB;
}

.logement h3, .logement_populaire h3{
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.logement_populaire h3{
    margin-top: 5px;
}

.logement p, .logement_populaire p{
    margin-left: 8px;
    font-size: 15px;
    margin-bottom: 5px;
}

#hebergement button{
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-top: 8px;
}

#populaires{
    background-color: #EBEBEB;
    border-radius: 10px;
    padding: 40px;
    padding-bottom: 0;
    width: 30%;
}

.logement_populaire{
    display: flex;
    background-color: white;
    height: 120px;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

#populaires h2{
    margin-bottom: 20px;
}

.logement_populaire img{
    width: 130px;
    object-fit: cover;
    height: 120px;
    border-radius: 10px 0px 0px 10px;
    margin-right: 10px;
}

#stats_populaire{
    display: flex;
    justify-content: space-between;
}

#stats_populaire i{
    font-size: 20px;
}

.etoile_populaire{
    color: #0065FC;
    font-size: 14px;
    margin-left: 7px;
    margin-top: 55px;
}

.etoile_populaire1{
    color: #0065FC;
    font-size: 14px;
    margin-left: 7px;
    margin-top: 40px;
}

.activite1, .activite2, .activite3, .activite4, .activite5, .activite6{
    border-radius: 10px;
    box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.displayblock{
    display: block;
}

#contenue_activite img{
    width: 100%;
    border-radius: 10px;
    border-radius: 10px 10px 0px 0px;
}

.displayblock{
    width: 23%;
}

#contenue_activite{
    display: flex;
    justify-content: space-between;
}

.activite2, .activite5{
    margin-bottom: 50px;
}

.activite1 img, .activite4 img{
    object-fit: none;
    height: 400px;
    
}

.activite2 img{
    object-fit: none;
    height: 180px;
}

.activite3 img{
    object-fit: none;
    height: 130px;
}

.activite5 img{
    object-fit: none;
    height: 150px;
}

.activite6 img{
    object-fit: none;
    height: 160px;
}

.activite1, .activite4{
    height: 450px;
}

.activite2, .activite3, .activite5,.activite6{
    padding-bottom: 5px;
}

#contenue_activite h3{
    margin: 10px;
    font-size: 16px;
}

#activite_marseille h2{
    margin-bottom: 20px;
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #EBEBEB;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

footer h2{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

footer div p{
    font-size: 14px;
    margin-bottom: 15px;
}

/* GRANDE TABLETTE */

@media screen and (max-width: 1280px){
    .block_page{
        width: 100%;
    }

    #autres, #filtres, .info{
        padding-right: 20px;
        padding-left: 20px;
    }

    nav{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .Logo{
        width: 100px;
        margin: auto;
    }

    ul{
        margin-top: 20px;
        width: 100%;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .active, nav li:hover{
        border-color: #0065FC;
    }

    nav li:nth-child(1){
        margin: 0;
    }

    nav li{
        border-bottom: solid 3px #F2F2F2;
        display: block;
        width: 50%;
        padding-bottom: 11px;
    }

    .active,
    nav a:hover{
    border-top: none;
    }

    nav a{
        padding-bottom: 15px;
    }

    #autres h2{
        margin-bottom: 20px;
        text-align: center;
    }

    #autres p{
        margin-bottom: 35px;
        text-align: center;
    }

    #localisation{
        justify-content: center;
    }

    #rechercher{
        display: none;
    }

    #loupe{
        display: flex;
        display: flex;
        color: white;
        background-color: #0065FC;
        border: 0.5px solid #0065FC;
        border-radius: 20px;
        padding: 17px;
        font-size: 20px;
        margin-left: -17px;
    }

    #filtres{
        text-align: left;
        margin-bottom: 20px;
    }

    #filtres h2{
        margin-bottom: 15px;
    }

    #filtres_radius{
        display: flex;
        flex-wrap: wrap;
    }

    #filtres_radius a{
        margin-bottom: 15px;
        width: fit-content;
    }

    .info{
        display: flex;
    }

    .fas.fa-info{
        margin-right: 10px;
        color: #0065FC;
        border: solid 1px #F2F2F2;
        padding: 11px;
        border-radius: 100%;
        width: 15px;
        text-align: center;
        font-size: 15px;
    }

    #hebergement_populaire{
        flex-direction: column-reverse;
    }

    #populaires{
        border-radius: 0;
        width: auto;
        padding: 20px;
    }

    #stats_populaire{
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .etoile_populaire{
        margin-top: 50px;
    }

    .etoile_populaire1{
        margin-top: 35px;
    }

    #hebergement{
        width: auto;
        background: none;
        padding: 20px;
        margin: 0;
    }

    #ligne1, #ligne2{
        flex-direction: column;
    }

    #hebergement h2{
        margin-top: 20px;
    }

    .logement{
        width: auto;
        margin-right: 0;
        margin-bottom: 15px;
    }

    #activite_marseille{
        padding: 20px;
    }

    #contenue_activite{
        /* flex-direction: column; */
    }

    .activite1, .activite4{
        width: auto;
        height: auto;
    }

    #contenue_activite img{
        /* height: 150px; */
    }

    .activite2, .activite5{
        margin-bottom: 10px;
    }

    .displayblock{
        width: auto;
    }

    footer{
        padding: 20px;
    }

    #footer_apropos{
        flex-direction: column;
        margin-left: 0;
    }

    footer h2{
        margin-bottom: 15px;
    }

    #a_propos, #nos_herbergement, #assistance{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }

    #a_propos p, #nos_herbergement p, #assistance p{
        margin-bottom: 10px;
    }
}

/* TABLETTE */

@media screen and (min-width: 376px) and (max-width: 768px){
    .block_page{
        width: 100%;
    }

    #autres, #filtres, .info{
        padding-right: 20px;
        padding-left: 20px;
    }

    nav{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .Logo{
        width: 100px;
        margin: auto;
    }

    ul{
        margin-top: 20px;
        width: 100%;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .active, nav li:hover{
        border-color: #0065FC;
    }

    nav li:nth-child(1){
        margin: 0;
    }

    nav li{
        border-bottom: solid 3px #F2F2F2;
        display: block;
        width: 50%;
        padding-bottom: 11px;
    }

    .active,
    nav a:hover{
    border-top: none;
    }

    nav a{
        padding-bottom: 15px;
    }

    #autres h2{
        margin-bottom: 20px;
    }

    #autres p{
        margin-bottom: 35px;
    }

    #localisation{
        justify-content: center;
    }

    #rechercher{
        display: none;
    }

    #loupe{
        display: flex;
        display: flex;
        color: white;
        background-color: #0065FC;
        border: 0.5px solid #0065FC;
        border-radius: 20px;
        padding: 17px;
        font-size: 20px;
        margin-left: -17px;
    }

    #filtres{
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }

    #filtres {
        margin-bottom: 15px;
    }

    #filtres_radius{
        flex-direction: column;
    }

    #filtres_radius a{
        margin-bottom: 15px;
    }

    #economique_familial{
        margin-bottom: 15px;
    }

    #romantique_animaux{
        display: flex;
        flex-direction: column;    
    }

    #romantique_animaux a:nth-child(1), #romantique_animaux a:nth-child(2){
        padding: 0;
        padding-right: 15px;
        width: fit-content;
    }

    .info{
        display: flex;
    }

    .fas.fa-info{
        margin-right: 10px;
        color: #0065FC;
        border: solid 1px #F2F2F2;
        padding: 11px;
        border-radius: 100%;
        width: 15px;
        text-align: center;
        font-size: 15px;
    }

    #hebergement_populaire{
        flex-direction: column-reverse;
    }

    #populaires{
        border-radius: 0;
        width: auto;
        padding: 20px;
    }

    #stats_populaire{
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .etoile_populaire{
        margin-top: 50px;
    }

    .etoile_populaire1{
        margin-top: 35px;
    }

    #hebergement{
        width: auto;
        background: none;
        padding: 20px;
        margin: 0;
    }

    /* #ligne1_ligne2{
        display: flex;
    } */

    #ligne1, #ligne2{
        flex-direction: row;
    }

    #hebergement h2{
        margin-top: 20px;
    }

    .logement{
        width: auto;
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%;
    }

    #activite_marseille{
        padding: 20px;
    }

    #contenue_activite{
        display: flex;
        flex-wrap: wrap;
    }

    .activite1, .activite4{
        width: auto;
        height: auto;
    }

    .activite2, .activite5{
        margin-bottom: 10px;
    }

    .displayblock{
        width: 48%;
    }

    footer{
        padding: 20px;
    }

    #footer_apropos{
        flex-direction: column;
        margin-left: 0;
    }

    footer h2{
        margin-bottom: 15px;
    }

    #a_propos, #nos_herbergement, #assistance{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }

    #a_propos p, #nos_herbergement p, #assistance p{
        margin-bottom: 10px;
    }

}

/* MOBILE */

@media screen and (max-width: 550px){
    .block_page{
        width: 100%;
    }

    #autres, #filtres, .info{
        padding-right: 20px;
        padding-left: 20px;
    }

    nav{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .Logo{
        width: 100px;
        margin: auto;
    }

    ul{
        margin-top: 20px;
        width: 100%;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .active{
        border-color: #0065FC;
    }


    li:nth-child(1){
        margin: 0;
    }

    .active,
    nav a:hover{
    border-top: none;
    }

    nav a{
        padding-bottom: 15px;
    }

    #autres h2{
        margin-bottom: 20px;
    }

    #autres p{
        margin-bottom: 35px;
    }

    #localisation{
        justify-content: center;
    }

    #rechercher{
        display: none;
    }

    #loupe{
        display: flex;
        display: flex;
        color: white;
        background-color: #0065FC;
        border: 0.5px solid #0065FC;
        border-radius: 20px;
        padding: 17px;
        font-size: 20px;
        margin-left: -17px;
    }

    #filtres{
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }

    #filtres h2{
        margin-bottom: 15px;
    }

    #filtres_radius{
    }

    #filtres_radius a{
        margin-bottom: 15px;
    }

    #economique_familial{
        margin-bottom: 15px;
    }

    #romantique_animaux{
        display: flex;
        flex-direction: column;    
    }

    #romantique_animaux a:nth-child(1), #romantique_animaux a:nth-child(2){
        padding: 0;
        padding-right: 15px;
        width: fit-content;
    }

    .info{
        display: flex;
    }

    .fas.fa-info{
        margin-right: 10px;
        color: #0065FC;
        border: solid 1px #F2F2F2;
        padding: 11px;
        border-radius: 100%;
        width: 15px;
        text-align: center;
        font-size: 15px;
    }

    #hebergement_populaire{
        flex-direction: column-reverse;
    }

    #populaires{
        border-radius: 0;
        width: auto;
        padding: 20px;
    }

    #stats_populaire{
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .etoile_populaire{
        margin-top: 50px;
    }

    .etoile_populaire1{
        margin-top: 35px;
    }

    #hebergement{
        width: auto;
        background: none;
        padding: 20px;
        margin: 0;
    }

    #ligne1, #ligne2{
        flex-direction: column;
    }

    #hebergement h2{
        margin-top: 20px;
    }

    .logement{
        width: auto;
        margin-right: 0;
        margin-bottom: 15px;
    }

    #activite_marseille{
        padding: 20px;
    }

    #contenue_activite{
        flex-direction: column;
    }

    .activite1, .activite4{
        width: auto;
        height: auto;
    }

    #contenue_activite img{
        height: 150px;
    }

    .activite2, .activite5{
        margin-bottom: 10px;
    }

    .displayblock{
        width: auto;
    }

    footer{
        padding: 20px;
        flex-direction: column;
    }

    #footer_apropos{
        flex-direction: column;
        margin-left: 0;
    }

    footer h2{
        margin-bottom: 15px;
    }

    #a_propos, #nos_herbergement, #assistance{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }

    #a_propos p, #nos_herbergement p, #assistance p{
        margin-bottom: 10px;
    }

}

